{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="hidden-separator">.</div>
    <h1>Créer mon compte</h1>
    <div class="hidden-separator">.</div>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom,{label: 'Nom : '}) }}
        {{ form_row(registrationForm.prenom,{label: 'Prénom : '}) }}
        {{ form_row(registrationForm.login,{label: 'Nom d\'utilisateur : '}) }}
        {{ form_row(registrationForm.email,{label: 'Adresse Email : '}) }}
        {{ form_row(registrationForm.dateNaissance,{label: 'Date de naissance : '}) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe : '}) }}
        {% set link %}Vous accepter les conditions de notre <a href="{{ path('app_home') }}">politique de confidentialité</a>{% endset %}
        <div class="row">
        {{ form_row(registrationForm.GDPR) }}<label>{{ link }}</label></div>
        <div class="hidden-separator">.</div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
