{% extends 'base.html.twig' %}

{% block title %}Se Connecter | Localux{% endblock %}

{% block body %}
<br><br><br>
{% if errors %}
 <div class="alert alert-danger">
 {{ errors.messageKey|trans(errors.messageData, 'security') }}
 </div>
{% endif %}

<main class="form-signin w-100 m-auto">
  <form action="{{ path('app_login') }}" class="col-4 offset-4" method="post">
    <img class="offset-4 col-4" src="{{asset('imgs/favicon.png')}}" alt="LogImage">
<br>
<br>
<br>
    <h1 class="h3 mb-3 fw-normal">Se Connecter</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="login floatingInput" name="_username" value="{{ last_username }}" placeholder="username">
      <label for="floatingInput">Nom d'utilisateur</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" id="password floatingPassword" name="_password" placeholder="Password">
      <label for="floatingPassword">Mot de passe</label>
    </div>
    <br>
    <button class="btn btn-primary w-100 py-2" type="submit">Se Connecter</button>
    <a href="{{path('app_register')}}" style="text-decoration:none">Je n'ai pas de compte</a>
    <p class="mt-5 mb-3 text-body-secondary">Localux © 2025</p>
  </form>
</main>
{% endblock %}