<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('imgs/favicon.png') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <link href="{{asset('css/global.css')}}" rel="stylesheet" type="text/css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#% block importmap %}{{ importmap('app') }}{% endblock %#}
        {% endblock %}
    </head>
    <body>
    <!--<div id="cookie-banner" style="display: none;" class="row">-->
    <div id="cookie-banner" style="" class="row">
      <p class="col-6">Nous utilisons des cookies pour améliorer votre expérience. Vous pouvez accepter ou refuser leur utilisation.</p>
      <div class="col-4">
        <button class="accept button-cookies" onclick="acceptCookies()">Accepter</button>
        <button class="decline button-cookies" onclick="declineCookies()">Refuser</button>
      </div>
    </div>
    <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{{ asset('imgs/favicon.png') }}" width="40rem" title="Vers Localux | Page d'acceuil" alt='logo'/>&nbsp;&nbsp;&nbsp;
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ path('app_home') }}" class="nav-link px-2 text-white">Accueil</a></li>
          <li><a href="{{ path('app_home') }}#formules" class="nav-link px-2 text-white">Offres</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Réserver</a></li>
        </ul>
        {% if not is_granted('IS_AUTHENTICATED_FULLY')%}
        <div class="text-end">
          <a href=" {{ path('app_login') }}"><button type="button" class="btn btn-outline-light me-2">Se Connecter</button></a>
          <a href=" {{ path('app_register') }}"><button type="button" class="btn btn-warning">S'inscrire</button></a>
        </div>
        {% else %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-518740762.jpg" alt="avatar" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Historique des réservations</a></li>
            <li><a class="dropdown-item" href="#">Informations sur le compte</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="container">
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src=" {{ asset('js/cookies.js') }}"/>
  </div>

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
        <img src="{{ asset('imgs/favicon.png') }}" style="width:5rem;">
      </a>
      <p class="text-body-secondary">Localux © 2025</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Pages</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Accueil</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Offres</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Réverver</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Mon compte</h5>
      {% if not is_granted('IS_AUTHENTICATED_FULLY')%}
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ path('app_login') }}" class="nav-link p-0 text-body-secondary">Se Connecter</a></li>
          <li class="nav-item mb-2"><a href="{{ path('app_register') }}" class="nav-link p-0 text-body-secondary">Créer un compte</a></li>
        </ul>
      {% else %}
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Historique des réservations</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Informations sur le compte</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Se Déconnecter</a></li>
        </ul>
      {% endif %}
    </div>

    <div class="col mb-3">
      <h5>A propos de nous</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mentions Légales</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Politiques de confidentialité</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Modalités de remboursement</a></li>
      </ul>
    </div>
  </footer>
</div>
  </body>
</html>
